<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Email Classifier</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='visualizations_style.css') }}">
</head>
<body>

<h1>Email Spam Classifier Visuals</h1>
<a href="/" class="visual">Back to Homepage</a>

<img src="/static/bargraph_email.png" height="350" class="bargraph_img">
<img src="/static/confusion_matrix.png" height="350" class="confusion_matrix_img">
<img src="/static/piechart.png" height="350" class="piechart_img">

{% if not report.empty %}
    <h2> Classification Report</h2>
    <table>

        <tr>
            <th>Columns</th>
            <th>Not spam</th>
            <th>Spam</th>
            <th>Accuracy</th>
            <th>Macro avg</th>
            <th>Weighted avg</th>
        </tr>

        <tr>
            <th>Precision</th>
            <td>{{ (report.iloc[0][0] * 100)|round(2) }}</td>
            <td>{{ (report.iloc[0][1] * 100)|round(2) }}</td>
            <td>{{ (report.iloc[0][2] * 100)|round(2) }}</td>
            <td>{{ (report.iloc[0][3] * 100)|round(2) }}</td>
            <td>{{ (report.iloc[0][4] * 100)|round(2) }}</td>
        </tr>

        <tr>
            <th>Recall</th>
            <td>{{ (report.iloc[1][0] * 100)|round(2) }}</td>
            <td>{{ (report.iloc[1][1] * 100)|round(2) }}</td>
            <td>{{ (report.iloc[1][2] * 100)|round(2) }}</td>
            <td>{{ (report.iloc[1][3] * 100)|round(2) }}</td>
            <td>{{ (report.iloc[1][4] * 100)|round(2) }}</td>
        </tr>

        <tr>
            <th>F1-score</th>
            <td>{{ (report.iloc[2][0] * 100)|round(2) }}</td>
            <td>{{ (report.iloc[2][1] * 100)|round(2) }}</td>
            <td>{{ (report.iloc[2][2] * 100)|round(2) }}</td>
            <td>{{ (report.iloc[2][3] * 100)|round(2) }}</td>
            <td>{{ (report.iloc[2][4] * 100)|round(2) }}</td>
        </tr>

    </table>
{% endif %}

</body>
</html>